@model List<AirportMVC1.Models.entity.Flight>

@{
    ViewBag.Title = "Flights list";
}
<h2>Airport management console:</h2>
<div>@Html.ActionLink("Create new","Create","Flight")</div>
<div>@Html.ActionLink("Show all flights", "AllFlights", "Flight")</div>
<div>@Html.ActionLink("Show all passengers", "All", "Passenger")</div>
<div>@Html.ActionLink("Show all tickets", "All", "Ticket")</div>
<div>@Html.ActionLink("Find by Number", "Find", "Flight")</div>
<br>
<div>
 
</div>